$font-type:"Work Sans", sans-serif;
$font-type-size: 14px;

$s-clr-primary:#ff6100;
$s-light-primary:#98abee;
$s-bg-black:#000;
$s-bg-dark:#101010;
$s-bg-light:#f4f5f7;
$s-bg-white:#fff;

$s-text-black:#000;
$s-text-light:#565656;
$s-text-dark:#18191d;
$s-text-white:#fff;

$transition: .5s all ease;
$transition2: all 0.5s ease-in-out;
$outline-none:0px none;
$none:none;
$inherit:inherit;

$clr-gray:#bbb



